<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>realie</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/css/application.css">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="/js/jquery.js"></script>
    <script src="/js/web_worker.js"></script>
    <script src="/js/diff_match_patch_uncompressed.js"></script>
    <script src="/socket.io/socket.io.js"></script> 
    <script src="/js/jquery.timers.js"></script>
    <script src="/js/jquery.color.js"></script>
    <script src="/js/application.js"></script>

    <script src="/js/ace/ace.js"></script>
    <script src="/js/ace/theme-clouds.js"></script>
    <script src="/js/ace/mode-javascript.js"></script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Realie</a>
          <div class="nav-collapse">
            <ul class="nav" id="status">

            </ul>
          </div>
        </div>
      </div>
    </div>
      
    <div class="container">
      <%- content %>
    </div>
  </body>
</html>