<div class="row">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list toolbar"> 
        <li class="nav-header">Toolbar</li>
        <li id="tb_download"><a href="#">Download</a></li>
        <li id="tb_open"><a href="#">Versions</a></li>
        <li id="tb_save"><a href="#">Snapshot</a></li>
        <li id="tb_playback"><a href="#" id="pad_playback">Playback</a></li>
      </ul>
      <ul class="nav nav-list users"> 
        <li class="nav-header">Users</li>
      </ul>
    </div>
  </div>
  <div class="span9">
    <div id="code"><%- snapshot %></div>
  </div>
</div>

<div id="extra">
</div>
<!-- /pad -->
